<md-toolbar layout="row">

    <div layout="row" class="left-20" flex="100" layout-align="start center">
        <a ui-sref="vendas.consultar" class="icon-menu">
            <ng-md-icon icon="search" size="35" alt="Home">
                <md-tooltip md-direction="bottom">
                    {{'consultar' | translate}}
                </md-tooltip>
            </ng-md-icon>
        </a>
        <a ui-sref="vendas.cadastrar" class="icon-menu">
            <i class="material-icons">border_color
                <md-tooltip md-direction="bottom">
                    {{'cadastrar' | translate}}
                </md-tooltip>
            </i>
        </a>
    </div>

    <div layout="row" flex="100" layout-align="end center">
        <a ui-sref="vendas.home" class="icon-menu">
            <ng-md-icon icon="home" size="35" alt="Home">
                <md-tooltip md-direction="bottom">
                    {{'pagina-inicial' | translate}}
                </md-tooltip>
            </ng-md-icon>
        </a>
        <ng-md-icon icon="help" class="icon-menu" size="35" alt="Ajuda">
            <md-tooltip md-direction="bottom">
                {{'Ajuda' | translate}}
            </md-tooltip>
        </ng-md-icon>
        <md-button class="md-fab md-primary md-hue-2">
            <md-icon>person</md-icon>
        </md-button>
    </div>
</md-toolbar>